@import "~font-awesome/css/font-awesome.min.css";

:root, [data-bs-theme=light] {
  --primary: 220, 170, 125;
  --bs-primary-rgb: 253, 146, 87 !important;
  --bs-link-color: 253, 146, 87 !important;
}

.button-primary {
  --bs-btn-bg: 253, 146, 87 !important;
  
}

.navbar {
  padding: 20px !important;
}

.custom-btn {
  background-color: rgb(var(--bs-primary-rgb)) !important;
  border-color: rgb(var(--bs-primary-rbg)) !important;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

